$title-color: #ffffff5c;
$quote-color: #ffffff9e;

@mixin MaShanZheng {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

.home {
  &__container {
    @apply h-screen w-screen bg-dark-900 px-6 py-4 box-border relative;
  }

  &__header {
    @apply absolute left-0 top-0 w-full box-border py-2 px-6 flex items-center justify-end;

    &-lang {
      @apply flex items-center mr-4;
      color: rgba(white, 0.1);
      $active-color: rgba(white, 0.5);

      &-btn {
        @apply border-none outline-none bg-transparent cursor-pointer;
        color: rgba(white, 0.2);
        transition: color 0.3s ease-in-out;

        &:hover {
          color: $active-color;
        }
        &:focus-visible {
          color: $active-color;
          outline: 1px solid $active-color;
        }
      }

      &-active {
        color: $active-color;
      }
    }
  }

  &__title {
    @apply text-center my-4;
    @include MaShanZheng;
    font-size: 60px;
    color: $title-color;
  }

  &__quote {
    @apply text-center font-size-5 w-150 mx-auto;
    @include MaShanZheng;
    color: $quote-color;
  }

  &__works {
    @apply mt-10 w-200 mx-auto grid grid-cols-4 gap-2;

    $no-class: &+-no;

    & a {
      @include MaShanZheng;
      @apply p-2 outline-none relative;
      width: fit-content;
      color: $title-color;
      text-decoration: none;
      border: 1px solid rgba(white, 0);
      transition: color 0.3s ease-in-out, border-color 0.6s ease-in;

      // 基于两个矩形的尺寸变化完成线框动画
      &::before {
        @apply absolute box-border top-0 left-0 w-0 h-0 select-none pointer-events-none opacity-0;
        content: '';
        border: 1px solid rgba(white, 0);
        border-top-color: rgba(white, 0.8);
        border-left-color: rgba(white, 0.8);
        transition: all 0.6s ease-in-out;
      }

      &::after {
        @apply absolute box-border bottom-0 right-0 w-0 h-0 select-none pointer-events-none opacity-0;
        content: '';
        border: 1px solid rgba(white, 0);
        border-bottom-color: rgba(white, 0.8);
        border-right-color: rgba(white, 0.8);
        transition: all 0.6s ease-in-out;
      }

      // :focus-visible伪类是tab键切换焦点时选中的状态（算是A11Y的一种）
      &:hover, &:focus-visible {
        color: rgba(white, 0.8);

        &::before, &::after {
          @apply opacity-100 w-full h-full;
        }

        & #{$no-class} {
          color: rgba(white, 0.5);
        }
      }
    }

    &-no {
      @apply mr-2;
      color: rgba(white, 0.2);
      transition: color 0.3s ease-in-out;
    }
  }
}
