@import "@/styles/_font.scss";

.work {
  &__container {
    @apply w-screen h-screen relative overflow-hidden;
  }

  &__info {
    @apply absolute right-0 bottom-0 max-h-full w-60 p-2;
    background-color: rgba(black, 0.6);
    backdrop-filter: blur(10px);
    color: rgba(white, 0.7);
    transition: height 0.3s ease-in-out;

    &-header {
      @apply flex items-center justify-between gap-2;
    }

    &-title {
      @apply flex-1 text-center;
      @include MaShanZheng;
    }

    &-icon {
      @apply inline-block;
      width: 1em;
      height: 1em;
      color: rgba(white, 0.5);
      transition: color 0.3s ease-in-out;

      &:hover {
        @apply cursor-pointer;
        color: rgba(white, 0.8);
      }
    }

    &-date {
      @apply text-right mt-2 mb-0 text-gray-400 font-bold;
      font-size: 12px;
    }

    &-content {
      text-indent: 1em;
      font-size: 14px;
      line-height: 1.5;
    }

    &-desc {
      word-break: break-all;
    }

    &-link {
      @apply flex items-center gap-1 text-orange-700;
      width: fit-content;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        @apply text-orange-500;
      }
    }

    $maximized: &+-maximized;

    &-maximized {
      @apply hidden;
    }

    &-minimized {
      @apply w-auto flex items-center justify-center;

      & > :not(#{$maximized}) {
        @apply hidden;
      }

      & > #{$maximized} {
        @apply inline-block;
      }
    }
  }
}